body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #305d3c;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
}
span {
    display: block;
}
.w-100 {
    width: 100%
}
.outline {
    height: 80px;
    width: 50px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background: #fff;
    background-color: white;
    background-size: cover;
    position: relative;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    transition: all 0.25s ease;
}
@media only screen and (min-width: 481px) and (max-width: 640px) {
    .outline-adjusted{
        margin-left: -165px !important;
        /* width: 140px !important; */
   }
}
@media only screen and (min-width: 641px) and (max-width: 960px) {
    .outline-adjusted{
        margin-left: -161px !important;
        /* width: 140px !important; */
   }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
    .outline-adjusted{
        margin-left: -157px !important;
        /* width: 140px !important; */
   }
}
@media only screen and (max-width: 480px) {
    .outline-adjusted{
        margin-left: -170px !important;
        /* width: 140px !important; */
   }
}
@media only screen and (min-width: 1201px) {
    .outline-adjusted{
        margin-left:-153px !important;
        /* width: 140px !important; */
   }
}
.red {
    color: #cc0033;
}
.black {
    color: #000000 !important;
}
.shadow {
    box-shadow: 1px 1px 3px #000;
}
.rounded {
    border-radius: 10px;
}
.card-container {
    display: flex;
    justify-content: center;
    margin: 40px auto 0px 180px;
    height: 282px;
    transition: all 0.25s ease;
}
.top {
    text-align: left;
}
.bottom {
    text-align: right;
}
button {
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin: 1px 6px 0px 0px;
    margin-top: 3%;
}
.cards{
    width: 1040px;
    max-width: 100%;
    padding: 0;
    margin: 10px auto;
}