.App {
  text-align: center;
}

.Bg-img {
  height: 60vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 1%;
}
.Toastify__toast-body > div:last-child {
  font-size: 14px;
}